<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" targetFramework="net452" />
  <package id="jQuery.jqGrid" version="4.4.4" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.10.0" targetFramework="net452" />
  <package id="Lang.Php" version="1.1.5431.643" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="PayPal" version="1.9.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" requireReinstallation="true" />
</packages>